# langchain==0.0.265
langchain
faiss-cpu
openai
tiktoken
docx2txt
pillow
pypdf
tenacity
# sqlalchemy<2.0.0
# pyodbc
# tabulate
# azure-cosmos
botbuilder-integration-aiohttp>=4.14.4
# aiohttp
# botbuilder-integration-aiohttp
# streamlit
python-dotenv
# azure-ai-formrecognizer
markdownify

azure-search-documents==11.4.0b11
azure-storage-blob==12.16.0
azure-identity==1.12.0
azure-mgmt-cognitiveservices==13.5.0